body 
{
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: linear-gradient(pink, purple);
   background-color: #ccc;
}

#emoji
{
  font-size: 10rem;
  filter: grayscale(1);
  cursor: pointer;
  transition-property: transform, filter;
  transition-duration: 300ms;
}

#emoji:hover
{
   transform: scale(1.5);
   filter: grayscale(0);
}